.Translator {
    width: 100%;
    height: 100%;
    display: flex;
}

.Solar {
    width: 100%;
    height: 100%;
    display: flex;
}

.SolarCanvas {
    background: url('./images/SolarSystem.png')
}